# Node.js modules
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variable files
.env

# Build directories
dist/
build/

# Coverage directory used by tools like istanbul
coverage/

# Temporary files
*.tmp
*.temp

# Operating system files
.DS_Store
Thumbs.db

# IDE/Editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
